<div class="about">
    <div class="about__wrapper">
        <div class="about__title">Про нас</div>
        <p class="about__text">
            Наш барбершоп - це місце, де ви можете отримати професійний догляд за своєю зовнішністю, привести свій вигляд в порядок
            і насолодитися атмосферою старої школи. Ми пропонуємо широкий спектр послуг, включаючи стрижку волосся, гоління, гоління
            голови, корекцію бороди і вусів, а також масаж голови та догляд за шкірою обличчя. Наші досвідчені барбери
            використовують лише найкращі інструменти та продукти для догляду, щоб гарантувати високу якість послуг і задоволення
            кожного нашого клієнта. Ми також надаємо послуги консультації щодо догляду за волоссям та шкірою, щоб допомогти вам
            підтримувати свій вигляд між відвідуваннями. Відвідавши наш барбершоп, ви отримаєте не тільки професійний догляд, але й
            почуєте себе як джентльмен, насолоджуючись унікальною атмосферою та доглядом за собою.
        </p>
        <div class="about__title">Наші барбери</div>
        <div class="about__barbers">
            <div class="about__barbers-item">
                <img src="https://media.istockphoto.com/id/1040308104/photo/mature-handsome-business-man.jpg?b=1&s=612x612&w=0&k=20&c=ikJdm03L9ByDCF4IXATjKtm_5DE5lTFjeGHazwBJoDI=" alt="photo-barber-1">
                <div class="about__barbers-body">
                    <p class="about__barbers-name">Dougal Taki</p>
                    <p class="about__barbers-subtext">Стаж роботи: 5років</p>
                </div>
            </div>
            <div class="about__barbers-item">
                <img src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg" alt="photo-barber-2">
                <div class="about__barbers-body">
                    <p class="about__barbers-name">Georg Newman</p>
                    <p class="about__barbers-subtext">Стаж роботи: 4роки</p>
                </div>
            </div>
            <div class="about__barbers-item">
                <img src="https://www.meme-arsenal.com/memes/5163f7293cce02dbafc5030d08ea95b2.jpg" alt="photo-barber-3">
                <div class="about__barbers-body">
                    <p class="about__barbers-name">Gang Nicomachus</p>
                    <p class="about__barbers-subtext">Стаж роботи: xxxxx</p>
                </div>
            </div>
        </div>
    </div>
</div>