<div class="header">
    <div class="header__inner">
        <div class="header__column">
            <div class="logo">TYTLOGO</div>
        </div>
        <div class="header__column">
            <div class="header__nav">
                <a routerLinkActive="active" routerLink="admin" class="header__nav-item">Адмін</a>
                <a routerLinkActive="active" routerLink="form" class="header__nav-item">Запис</a>
                <a routerLinkActive="active" routerLink="about" class="header__nav-item">Про нас</a>
                <a (click)="signOut()" class="header__nav-item">Вийти</a>
            </div>
        </div>
    </div>
</div>