/* @import "nullstyle.scss"; */

@charset "UTF-8";
::ng-deep {
  @import "swiper/scss";
  @import "swiper/scss/navigation";
  @import "swiper/scss/pagination";
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px !important;
  padding-right: 15px !important;
  &.container--left {
    margin: 0 !important;
    max-width: calc(100vw - (100vw - 1200px) / 2);
    margin-left: auto !important;
  }
}


.title {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;
  color: #fff;
 
}

//HEADER =================================================
.header__btn--menu {
  display: none;
}


//REVIEW =================================================
.review {
  position: relative;
  &__container {
    overflow-x: hidden;
    padding: 50px 0;
  }

  &__item {
  }
  &__top {
    margin: 0 0 64px 0;
    display: flex;
    justify-content: space-between;
  }

  &__top-left {
    padding: 0 16px 0 0;
  }

  &__title {
  }

  &__subtext {
    max-width: 600px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffffb6;
  }

  &__top-arrays {
    display: flex;
    align-items: center;
    button {
      width: 32px;
      height: 32px;
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &:hover {
        background: rgba(68, 154, 255, 0.1);
        svg {
          path {
            fill: #449aff;
          }
        }
      }
    }
  }

  &__top-array-left {
    margin: 0 8px 0 0;
  }

  &__top-array-right {
    transform: rotate(180deg);
  }
}
::ng-deep {
  .review-item {
    background: #353535;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
  }
}

.review-item {
  &__rating {
    flex-shrink: 0;
    margin: 0 20px 0 0;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 12px 0;
  }

  &__top-left {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0 8px 0 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #b1b7be;
  }

  &__top-icon {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-size: 48px;
    line-height: 24px;
    color: #449aff;
  }

  &__content {
    border-bottom: 1px solid #f5f6f6;
    padding: 0 0 24px 0;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 24px 0;
    flex: 1 1 auto;
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__person {
    display: flex;
    align-items: center;
  }

  &__person-photo {
    border-radius: 50%;
    margin: 0 12px 0 0;
    width: 48px;
    height: 48px;
  }

  &__person-info {
  }

  &__person-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 4px 0;
  }

  &__person-position {
    font-size: 12px;
    line-height: 16px;
    color: #a3aab2;
  }
}

::ng-deep {
  .swiper-wrapper-wrapper {
    max-width: 1200px !important;
  }
  .swiper {
    overflow: visible !important;
  }
  .swiper-slide {
    transition: all 0.3s ease 0s;
    height: auto !important;
    display: flex;
    /*  width: 40% !important; */
    flex-direction: column;
  }

  .swiper-slide-next + .swiper-slide {
    filter: blur(2px) !important;
    /*  width: 140% !important; */
  }
}
//===================================================
