<div class="form-page">
    <div class="form-page__inner">
        <div class="form-page__body">
            <h4 class="form-page__title">Вхід</h4>
            <p *ngIf="error" class="form-page__error error-text">{{error}}</p>
            <form class="form-page__form">
                <label class="form-page__field-label">
                    <input [(ngModel)]="loginForm.email" name="email" placeholder="Введіть пошту" class="form-page__input custom-input-1" type="text">
                </label>
                <label class="form-page__field-label">
                    <input [(ngModel)]="loginForm.pass" name="pass" placeholder="Введіть пароль" class="form-page__input custom-input-1" type="password">
                </label>
                <button (click)="onLogin()" class="form-page_submit custom-btn-1">Увійти</button>
            </form>
            <a routerLink="/register" class="form-page__nav-link">Створити опобліковий запис</a>
        </div>
    </div>
</div>